<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>



<body>


<!-- <link rel="stylesheet" type="text/css" href="index_style.css"> -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index_style.css') }}">



<form action="/action_page.php">
<ul>
  <!-- <li><a href="#home">Home</a></li> -->
  <li class="dropdown">
    <!-- <a href="javascript:void(0)" class="dropbtn">Insert New Element</a> -->
    <a href="https://itucsdb1906.herokuapp.com/" class="dropbtn">Insert New Schedule</a>

  </li>
  <!-- <li class="dropdown"> -->
    <!-- <a href="javascript:void(0)" class="dropbtn">Options</a> -->
    <!-- <div class="dropdown-content"> -->
      <!-- <a href="#">Long Call</a> -->
      <!-- <a href="#">Long Put</a> -->
    <!-- </div> -->
  <!-- </li> -->
   <li class="dropdown">
    <!-- <a href="javascript:void(0)" class="dropbtn">Fund Management</a> -->
    <a href="https://itucsdb1906.herokuapp.com/persons" class="dropbtn">Show Persons</a>

  </li>
   <li class="dropdown">
    <!-- <a href="javascript:void(0)" class="dropbtn">Fund Management</a> -->
    <a href="https://itucsdb1906.herokuapp.com/drugs" class="dropbtn">Show Drugs</a>

  </li>
</ul>

<!-- <input type="submit" value="Submit" style="height:50px;font-size:14pt;" > -->


</form>


<!-- <table> -->
  <!-- <tr> -->
    <!-- <th>id</th> -->
    <!-- <th>Person</th> -->

  <!-- </tr> -->


	  <!-- <tr> -->

	  <!-- </tr> -->
	  <!-- <tr class="rowAnalysed" style="display: none;" > -->

		<!-- <td><button style="border:1px solid black;   width:100%; height=100%;"  >Update</button></td> -->
	  <!-- </tr> -->


<!-- </table> -->

      <form name="form" action="https://itucsdb1906.herokuapp.com/add" method="POST">
         <div style="max-width:870px;">
            <center>
               <h4> Person     :</h4><input type="text" style="margin-left:20%;" placeholder="Person Name " name="percentage">  
            </center>
         </div>

         <br>

         <div style="max-width:870px;">
            <center>
				
                <h4> Drug Name: </h4><input type="text" style="margin-left:20%;" placeholder="Drug Name" name="aggregate">
            </center>
         </div>

         <br>


         <div style="max-width:870px;">
            <center>
				 <h4> Drug Time: </h4>
               <input type="text" style="margin-left:20%;" placeholder="Drug Time" name="Drug Time">
            </center>
         </div>

         <br>
		 
		 
         <div style="max-width:870px;">
            <center>

               <button style="border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type="submit" value="Login">
                  <!--  <strong>Scan Market</strong> -->
                   <strong>Update Schedule</strong>
               </button>

               <!-- <button style="border:0px; background-color:#4285F4; margin-top:8%; -->
                  <!-- height:35px; width:80%;margin-left:19%;" type="submit" value="Login"> -->
                  <!-- <!--  <strong>Scan Market</strong> --> 
                   <!-- <strong>Get All Schedules</strong> -->
               <!-- </button> -->

            </center>
         </div>


      </form>
	  <br> <br>

    <br>




</body>
</html>
















